[submodule "addons/Godot-Options-Menus"]
	path = addons/Godot-Options-Menus
	url = https://github.com/Stellar-Forge-Interactive/Godot-Options-Menus.git
[submodule "addons/Godot-Credits-Scene"]
	path = addons/Godot-Credits-Scene
	url = https://github.com/Stellar-Forge-Interactive/Godot-Credits-Scene.git
[submodule "Assets/Env"]
	path = Assets/Env
	url = git@github.com:mfriesen1024/AGJ-2026-Env.git
